body {
    background-image: url(img/Forest-Scent-Pavel-Bautin.jpg.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container {
    width: 90%;
    margin: 0 auto;
    background-color: #eee;
}
img{
    height:20%;
    width:20%;
}

.link{
    color:black;
    height:300px;
    width:200px;
}
h1{
    color:white;
    
}
li{
    color:white;
    
}
ul{
   
    
}
